/* Main styles */

@import "~bootstrap/scss/bootstrap";


.logout-form {
    display: flex;
    flex-direction: column;
}

.page-logo {
    width: 60px;
    height: auto;
}




// Informational messages and alerts

.text__alert {
    color: darkred;
}


// Icons and links

.icon-container {
    text-align: right;
}

.link__edit-category {
    color: green;
}

.link__add-input-field {
    color: green;
}

// Buttons

.btn__add-product {
    background-color: #366093;
    color: white;
}

.btn_log-in {
    background-color: #366093;
    color: white;
}

.btn_log-out {
    background-color: red;
    color: white;
}

.btn_redirect {
    background-color: #FFC107;
}

.btn__add-category {
    background-color: #366093;
    color: white;
}



