/* Main styles */

@import "~bootstrap/scss/bootstrap";

.logout-form {
    display: flex;
    flex-direction: column;
}

.loading-spinner {
    color: green;
}

// Layout
.main-content {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    min-height: 100vh;
}




// Informational messages and alerts

.text__alert {
    color: darkred;
}

// Logo and icons

.icon__edit {
    color: green;
}

.page-logo {
    width: 80px;
    height: auto;
}

// Links

.link__edit-category {
    color: green;
}


// Buttons

.btn__add-category {
    background-color: #366093;
    color: white;
}

.btn__add-product {
    background-color: #366093;
    color: white;
}

.btn__delete-product {
    background-color: #366093;
    color: white;
}

.btn__log-in {
    background-color: #366093;
    color: white;
}

.btn__log-out {
    background-color: red;
    color: white;
}

.btn__new-category {
    background-color: #366093;
    color: white;
}



