@import 'styles/colors';

/* Cards */

.card {
	background-color: rgba(0, 0, 0, 0.5);
	margin-bottom: 0.7rem;
	width: 100%;
}

.card-wrapper {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: center;
	grid-gap: 1rem;

	// Tablet
	@media only screen and (min-width: 768px) {
		grid-gap: 20px 30px;
	}

	// Desktop 
	@media only screen and (min-width: 992px) {
		grid-template-columns: auto auto auto;
	}
}

.category-content-wrapper {
	display: flex;
	flex-direction: column;
	margin: auto;

	// Tablet
	@media only screen and (min-width: 768px) {
		width: 60%;
	}
}

.card__category {
	width: 9rem;
	height: 8rem;
	display: flex;
	justify-content: center;
	align-items: center;

	// Tablet
	@media only screen and (min-width: 768px) {
		width: 14rem;
		height: 10rem;

		&:hover {
			transform: scale(1.1);
		}
	}

	// Desktop 
	@media only screen and (min-width: 992px) {
		height: 14rem;
	}
}

.card__category--admin {
	position: relative;

	svg {
		position: absolute;
		bottom: 1rem;
		right: 1rem;
		font-size: 0.8rem;

		// Tablet
		@media only screen and (min-width: 768px) {
			font-size: 1rem;
		}
	}
}

.card__category,
.card__category--admin {
	.card-title {
		font-size: 1rem;

		// Tablet
		@media only screen and (min-width: 768px) {
			font-size: 1.25rem;
		}
	}
}

.card-body {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card__contact {
	padding: 2rem 0;

	.card-body {
		display: flex;
		flex-direction: column;
	
		.card-title {
			font-size: 1.2rem;
			margin-bottom: 2.2rem;

			// Desktop 
			@media only screen and (min-width: 992px) {
				padding-right: 2rem;
				padding-left: 2rem;
				margin-right: 2rem;
			}
		}

		.card-text {
			font-size: 0.9rem;

			p {
				margin-bottom: 0.7rem;
			}

			span {
				font-weight: bold;
			}
		}
	
		// Desktop 
		@media only screen and (min-width: 992px) {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
	}
}





