@import 'styles/colors';

/* Footer */

.footer {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	padding: 4rem 0;
}

.footer-content-wrapper {
	display: flex;
	justify-content: space-between;
}