@import 'styles/colors';

/* Icons */

.icon-wrapper {
	display: flex;
	align-items: center;

	&.icon-wrapper__gift {
		color: $signature-blue--bright;
	}
}

.icon {
	color: white;
	cursor: pointer;
}

.icon--nav {
	color: $signature-blue--bright;
}

.icon__admin {
	font-size: 1.2rem;
	margin-left: 2rem;

	// Desktop 
	@media only screen and (min-width: 992px) {
		font-size: 1.5rem;	

		&:hover { 
			font-size: 1.7rem;
		}
	}
}

.icon__arrow-left {
	width: 30px;
	height: auto;
	display: block;
	margin: auto;
	margin-top: 8rem;

	// Tablet
	@media only screen and (min-width: 768px) {
		margin-top: 10rem;
	}
}

.icon__close {
	position: absolute;
	top: 1rem;
	right: 1rem;
}

.icon__delete {
	&:hover { 
		color: $signature-blue--bright;
		font-size: 1.1rem;
	}

	&.icon__delete--product,
	&.icon__delete--item {
		margin-left: 0.6rem;
	}
}

.icon__edit {
	margin-left: 0.6rem;

	&:hover {
		color: $signature-blue--bright;
	}
}

.icon__gift {
	width: 60%;
	height: auto;
	margin-right: 0.5rem;
	cursor: pointer;

	// Desktop 
	@media only screen and (min-width: 992px) {
		width: 130%;
		height: auto;	
	}
}

.icon__text-arrow {
	margin-right: 1rem;
}
