@import 'styles/colors';

/* Icons */

.icon-wrapper {
	display: flex;
	align-items: center;

	&.icon-wrapper__gift {
		color: $signature-blue--bright;
	}
}

.icon {
	color: white;
	cursor: pointer;
}

.icon--nav {
	color: $signature-blue--bright;
}

.icon__admin {
	width: 120%;
	height: auto;
	margin-left: 2rem;

	&:hover { 
		font-size: 1.2rem;
	}

	// Desktop 
	@media only screen and (min-width: 992px) {
		width: 130%;
		height: auto;	
	}
}

.icon__arrow-left {
	width: 8%;
	height: auto;
	display: block;
	margin: auto;
	margin-top: 3rem;

		// Desktop 
		@media only screen and (min-width: 992px) {
			width: 6%;
		}

}

.icon__delete {
	&:hover { 
		color: $signature-blue--bright;
		font-size: 1.1rem;
	}

	&.icon__delete--product,
	&.icon__delete--item {
		margin-left: 0.6rem;
	}
}

.icon__edit {
	margin-left: 0.6rem;

	&:hover {
		color: $signature-blue--bright;
	}
}

.icon__gift {
	width: 60%;
	height: auto;
	margin-right: 0.5rem;
	cursor: auto;

	// Desktop 
	@media only screen and (min-width: 992px) {
		width: 130%;
		height: auto;	
	}
}

.icon__text-arrow {
	margin-right: 1rem;
}
