@import 'styles/colors';

/* Layout */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
	min-height: 100vh;
	background-image: url('../../images/city-night.jpg');
	background-size: cover;
	background-position: left bottom;

	&.thank-you {
		background-image: url('../../images/candle.jpg');
		background-size: cover;
		background-position: center bottom;
	}
}

.container {
	max-width: 360px;

	// Tablet portrait
	@media only screen and (min-width: 600px) {
		max-width: 520px;
	}

	// Tablet
	@media only screen and (min-width: 768px) {
		max-width: 680px;
	}

	// Desktop 
	@media only screen and (min-width: 992px) {
		max-width: 900px;
	}
}

.site-container {
	padding-top: 3rem;
	padding-bottom: 100px;
	margin-bottom: 100px;
	display: flex;
    flex-direction: column;
	
	// Tablet
	@media only screen and (min-width: 768px) {
		padding-top: 3rem;
		flex-direction: row;
		justify-content: space-between;
	}

	// Desktop 
	@media only screen and (min-width: 992px) {
		padding-top: 3.5rem;
	}
}

.main {
	// Tablet
	@media only screen and (min-width: 768px) {
		width: 60%;
	}
}

.sidebar {
	display: none;
	
	// Tablet
	@media only screen and (min-width: 768px) {
		display: block;
		max-width: 30%;
	}
}

.sidebar--top {
	display: flex;
	justify-content: center;
	margin-bottom: 3rem;

    &.hide {
        display: none;
	}

	// Tablet
	@media only screen and (min-width: 768px) {
		display: none;
	}
}

.form {
	display: flex;
	flex-direction: column;
}

// Page-specific layout styles

.page__category {
	display: flex;
	flex-direction: column;
}

.page__add-category,
.page__add-product {
	padding-top: 3rem;

	// Tablet
	@media only screen and (min-width: 768px) {
		padding-top: 3rem;
	}

	// Desktop 
	@media only screen and (min-width: 992px) {
		padding-top: 3.5rem;
	}
}








