@import 'styles/colors';

/* Layout */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
	min-height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('../../images/backgrounds/city-night.jpg');
	background-size: cover;
	background-position: top;
}

.site-container {
	padding-top: 3rem;
	padding-bottom: 100px;
	margin-bottom: 100px;
	display: flex;
    flex-direction: column;
	
	// Tablet
	@media only screen and (min-width: 768px) {
		padding-top: 3rem;
		flex-direction: row;
		justify-content: space-between;
	}

	// Desktop 
	@media only screen and (min-width: 992px) {
		padding-top: 3.5rem;
	}
}

.main {
	// Tablet
	@media only screen and (min-width: 768px) {
		width: 60%;
	}
}

.sidebar {
	display: none;

	&.show {
		display: block;
		margin-bottom: 3rem;
	}
	
	// Tablet
	@media only screen and (min-width: 768px) {
		display: block;
		margin-bottom: 3rem;
		margin-right: 4rem;
	}

	// Desktop 
	@media only screen and (min-width: 992px) {
		margin-right: 6rem;
	}
}

.form {
	display: flex;
	flex-direction: column;
}

// Page-specific layout styles

.page__category {
	display: flex;
	flex-direction: column;
}

.page__add-category,
.page__add-product {
	padding-top: 3rem;

	// Tablet
	@media only screen and (min-width: 768px) {
		padding-top: 3rem;
	}

	// Desktop 
	@media only screen and (min-width: 992px) {
		padding-top: 3.5rem;
	}
}








