@import 'styles/colors';
@import 'styles/typography';

/* Links */

.navlink-wrapper {
	display: flex;
}

.link {
	color: $signature-blue--bright;
	text-decoration: none;

	&:hover { 
		color: white;
		text-decoration: none; 
	}
}

.email-link {
	color: white;

	&:hover { 
		color: $signature-blue--bright;
		font-weight: 400;
		text-decoration: none; 	
	}
}

.email-link,
.tel-link,
.title-link {
	color: white;

	&:hover { 
		color: $signature-blue--bright;
		font-weight: 400;
		text-decoration: none; 	
	}
}

.text-link {
	color: $signature-blue--bright;

	&:hover { 
		color: $signature-blue--bright;
		font-weight: 400;
		text-decoration: none; 	
	}
}



